h1{
    text-align: center;
    background-color: deepskyblue;
    color: orangered;
}
h2{
    color: limegreen;
    background-color: purple;
}
body{
    background-image: url(photos/ek.jpg);
}
ul{
    
    color: black;
}
p{
    background-color: white;
    color: black;
}
a:link{
   background-color: black; 
   color: white;
}
a:visited{
    color: white;
}